name: Check & fix styling

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  check:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD:
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
          MYSQL_DATABASE: filamic-test
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.4
          tools: composer:v2
          coverage: none

      - name: Install project dependencies
        run: composer install --no-interaction --prefer-dist --optimize-autoloader

      - name: Composer dumpautoload
        run: composer dumpautoload -o

      - name: Lint code
        run: ./vendor/bin/pint --bail

      - name: Analyze code
        run: composer analyse

      - name: Create .env file
        run: cp .env.example.testing .env

      - name: Compile assets
        run: npm ci && npm run build

      - name: Generate application key
        run: php artisan key:generate

      - name: Run tests
        run: php artisan test
